<form [formGroup]="launchConstructorForm" class="constructor-form">
  <div class="options-section">
    <span class="subheader">General Options</span>
    <div class="general-options-section">
      <span class="option-label">{{openVINOInstalledField.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="openVINOInstalled">
        <ng-container *ngFor="let option of openVINOInstalledField.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('openVINOInstalled', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
    <div class="general-options-section">
      <span class="option-label">{{dockerInstalledField.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="dockerInstalled">
        <ng-container *ngFor="let option of dockerInstalledField.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('dockerInstalled', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
    <div class="general-options-section">
      <span class="option-label">{{machineOsField.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="machineOS">
        <ng-container *ngFor="let option of machineOsField.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('machineOS', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
    <div class="general-options-section">
      <span class="option-label">{{availableDevices.label}}</span>
      <div class="options-group">
        <ng-container *ngFor="let option of availableDevices.values">
          <mat-checkbox
            class="option"
            [ngClass]="{'selected': isDeviceSelected(option.value)}"
            [checked]="isDeviceSelected(option.value)"
            (change)="deviceSelected(option.value)"
          >
            {{option.label}}
          </mat-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="options-section">
    <span class="subheader">Advanced Options</span>
    <div class="general-options-section">
      <span class="option-label">{{startWithField.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="wbLauncher">
        <ng-container *ngFor="let option of startWithField.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('wbLauncher', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
      </mat-radio-group>
    </div>
    <div class="general-options-section">
      <span class="option-label">{{useHttpProxy.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="httpProxy">
        <ng-container *ngFor="let option of useHttpProxy.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('httpProxy', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
        <mat-form-field class="option" [ngClass]="{'disabled': !useHttpProxyControl?.value}">
          <input matInput type="text" [value]="'http proxy'" [disabled]="!useHttpProxyControl?.value">
          <mat-icon matSuffix>mode</mat-icon>
        </mat-form-field>
      </mat-radio-group>
    </div>
    <div class="general-options-section">
      <span class="option-label">{{useHttpsProxy.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="httpsProxy">
        <ng-container *ngFor="let option of useHttpsProxy.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('httpsProxy', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
        <mat-form-field class="option" [ngClass]="{'disabled': !useHttpsProxyControl?.value}">
          <input matInput type="text" [value]="'https proxy'" [disabled]="!useHttpsProxyControl?.value">
          <mat-icon matSuffix>mode</mat-icon>
        </mat-form-field>
      </mat-radio-group>
    </div>
    <div class="general-options-section">
      <span class="option-label">{{useNoProxy.label}}</span>
      <mat-radio-group
        class="options-group"
        formControlName="noProxy">
        <ng-container *ngFor="let option of useNoProxy.values">
          <mat-radio-button
            class="option"
            [ngClass]="{'selected': isOptionSelected('noProxy', option.value)}"
            [value]="option.value"
          >
            {{option.label}}
          </mat-radio-button>
        </ng-container>
        <mat-form-field class="option" [ngClass]="{'disabled': !useNoProxyControl?.value}">
          <input matInput type="text" [value]="'no proxy'" [disabled]="!useNoProxyControl?.value">
          <mat-icon matSuffix>mode</mat-icon>
        </mat-form-field>
      </mat-radio-group>
    </div>
  </div>
  <div class="result">
    <span class="subheader">Execute/Result</span>
  </div>
</form>
